In [50]:
import pandas as pd

In [51]:
df = pd.read_csv('infos.csv')

In [52]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df

,id_contrato,sexo,estado_civil,tipo,inadimplente,status,tier,valor_contrato,score,idade,razao_pago_total,dias_atraso_total,razao_parcelas_atraso_parcelas
0,1324.0,2.0,1,1,1,2,6,88683.53,9999.00,36,0.000000,15116.0,1.045455
1,4173.0,1.0,2,1,1,1,3,195900.00,995.83,33,0.166694,1.0,0.125000
2,2125.0,2.0,2,1,1,1,4,65900.00,1000.00,35,0.178498,1.0,0.076923
3,335.0,1.0,3,1,1,1,5,64592.88,757.11,35,0.413484,243.0,0.250000
4,4544.0,1.0,2,1,1,1,5,74900.00,1000.00,30,0.055620,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3958,739.0,1.0,2,1,1,2,6,65310.11,9999.00,43,0.035000,16298.0,1.000000
3959,1655.0,1.0,1,1,1,2,6,72900.00,9999.00,26,0.120881,2675.0,0.846154
3960,4161.0,1.0,1,1,2,1,6,67900.00,311.11,41,0.053284,713.0,0.888889
3961,4347.0,1.0,1,1,1,1,5,67900.00,787.04,26,0.075008,126.0,0.714286
3962,3944.0,1.0,1,1,2,1,6,65900.00,362.04,38,0.089074,969.0,0.846154

In [53]:
#removendo NaN
df.dropna(inplace=True)
df

,id_contrato,sexo,estado_civil,tipo,inadimplente,status,tier,valor_contrato,score,idade,razao_pago_total,dias_atraso_total,razao_parcelas_atraso_parcelas
0,1324.0,2.0,1,1,1,2,6,88683.53,9999.00,36,0.000000,15116.0,1.045455
1,4173.0,1.0,2,1,1,1,3,195900.00,995.83,33,0.166694,1.0,0.125000
2,2125.0,2.0,2,1,1,1,4,65900.00,1000.00,35,0.178498,1.0,0.076923
3,335.0,1.0,3,1,1,1,5,64592.88,757.11,35,0.413484,243.0,0.250000
4,4544.0,1.0,2,1,1,1,5,74900.00,1000.00,30,0.055620,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3958,739.0,1.0,2,1,1,2,6,65310.11,9999.00,43,0.035000,16298.0,1.000000
3959,1655.0,1.0,1,1,1,2,6,72900.00,9999.00,26,0.120881,2675.0,0.846154
3960,4161.0,1.0,1,1,2,1,6,67900.00,311.11,41,0.053284,713.0,0.888889
3961,4347.0,1.0,1,1,1,1,5,67900.00,787.04,26,0.075008,126.0,0.714286
3962,3944.0,1.0,1,1,2,1,6,65900.00,362.04,38,0.089074,969.0,0.846154

In [54]:
def imprimeResult(results):
    media = results['test_score'].mean()
    print("Resultados cross validation:",results['test_score'])
    print("MÃ©dia da precisÃ£o: {0:.2f}".format(media*100),'%')

    #Acurracy fica entre a mÃ©dia + 2(desvio_padrao) e a mÃ©dia - 2(desvio_padrao)
    desvio_padrao = results['test_score'].std()
    print("Desvio padrÃ£o: {0:.2f}".format(desvio_padrao*100),'%')

    acumulo_baixo = media - 2*desvio_padrao
    acumulo_alto = media + 2*desvio_padrao
    print("Acurracy esta entre: [",acumulo_baixo*100,"---", acumulo_alto*100,"]")

In [55]:
from sklearn.model_selection import train_test_split
import numpy as np

x = df.drop(['status'], axis=1)
x.drop(['id_contrato'], axis=1, inplace=True)

y = df['status']

print(y.value_counts())

SEED = 1231
np.random.seed(SEED)

raw_train_x, raw_test_x, train_y, test_y = train_test_split(x, y, test_size=0.25, stratify=y)

1    2567
2     933
Name: status, dtype: int64

<h1>LINEAR</h1>

In [56]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold

model = LinearSVC()

cv = StratifiedKFold(n_splits=5)

cv_results = cross_validate(model, raw_train_x, train_y, cv=cv, return_train_score=False)

imprimeResult(cv_results)

/home/adame/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/home/adame/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/home/adame/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Resultados cross validation: [0.26666667 0.93142857 0.89904762 0.88190476 0.9047619 ]
MÃ©dia da precisÃ£o: 77.68 %
Desvio padrÃ£o: 25.55 %
Acurracy esta entre: [ 26.567541812251328 --- 128.7848391401296 ]

/home/adame/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/home/adame/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

<h1>DUMMY CLASSIFIER</h1>

In [57]:
from sklearn.dummy import DummyClassifier

dummy_stratified = DummyClassifier(strategy='stratified')
dummy_most_frequent = DummyClassifier(strategy='most_frequent')

dummy_stratified.fit(raw_train_x, train_y)
dummy_most_frequent.fit(raw_train_x, train_y)
print('AcurÃ¡cia do modelo dummy stratified: {}%'.format(dummy_stratified.score(raw_test_x, test_y)*100))
print('AcurÃ¡cia do modelo dummy most frequent: {0:.2f}%'.format(dummy_most_frequent.score(raw_test_x, test_y)*100))

AcurÃ¡cia do modelo dummy stratified: 59.08571428571429%
AcurÃ¡cia do modelo dummy most frequent: 73.37%

<h1>DECISION TREE</h1>

In [58]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth=3)

cv = StratifiedKFold(n_splits=5)

cv_results = cross_validate(model, raw_train_x, train_y, cv=cv, return_train_score=False)

imprimeResult(cv_results)

Resultados cross validation: [0.92571429 0.92761905 0.91428571 0.89714286 0.91809524]
MÃ©dia da precisÃ£o: 91.66 %
Desvio padrÃ£o: 1.09 %
Acurracy esta entre: [ 89.4833763630191 --- 93.83090935126661 ]

<h1>SVC</h1>

In [59]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import cross_validate

SEED = 301
np.random.seed(SEED)

scaler = StandardScaler()
model = SVC()

pipeline = Pipeline([('scaler', scaler), ('model', model)])

cv = StratifiedKFold(n_splits=5)

#AO invÃ©s do modelo, aqui Ã© passado o pipeline
result = cross_validate(pipeline, raw_train_x, train_y , cv=cv)

imprimeResult(result)

Resultados cross validation: [0.92952381 0.92571429 0.91619048 0.92       0.92952381]
MÃ©dia da precisÃ£o: 92.42 %
Desvio padrÃ£o: 0.53 %
Acurracy esta entre: [ 91.35783708364312 --- 93.48025815445212 ]